.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ed9e02;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Welcome CSS */

.play-button {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 24px;
  font-weight: bold; 
  background-color: darkslategray;
  color: aliceblue;
}

.play-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.welcome-image {
  border-radius: 30px;
}

span.emoji {
  font-size: 75px;
}

/* Board CSS */

.game-piece {
  background-color: floralwhite;
  color: black;
  border-radius: 8px;
  width: 300px;
  height: 150px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 24px;
  font-weight: bold; 
}

.game-piece:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

p.game-piece {
  color: black;
}